@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBFBFD;
    /* apple.bg */
    color: #1D1D1F;
    /* apple.text */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}